.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: gray;
  margin: 0;
  padding: 10px 20px;
  color: wheat;
}
body{
  background: burlywood;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  
}

li {


  font-size: 20px;

}
a {
  color: black;

 font-size: 20px;



}

a:hover {
  color: blue; /* hover पर color बदलने के लिए (optional) */
}
.page{
  text-align: center;
  padding: 10px;
}
.users{
  margin-left: 10px;
}


